{% extends 'base.html.twig' %}

{% block body %}
<div id="sidebar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</div>

<div id="div1">
    <h2>My first post</h2>
    <p>The body of the first post.</p>

    <h2>Another post</h2>
    <p>The body of the second post.</p>
</div>
{% endblock %}